{% extends 'base.html.twig' %}

{% block title %}TTC{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<form method="post">

<div>
    <label>Name:</label>
    <input name="name"  type="text"/>
</div>

<div>
    <label>Short description:</label>
    <input name="short_description" type="text"/>
</div>


<div>
    <label>Full Description:</label>
    <input name="full_description" type="text"/>
</div>


<div>
    <label>Score:</label>
    <input name="score" type="text"/>
</div>

<input type="submit" />

</form>


{% endblock %}